/.vscode
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.pdb
bin/Debug/net5.0/ref/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.pdb
obj/Debug/net5.0/ref/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.pdb
bin/Debug/net5.0/ref/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.pdb
obj/Debug/net5.0/ref/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.pdb
bin/Debug/net5.0/ref/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.pdb
obj/Debug/net5.0/ref/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.pdb
bin/Debug/net5.0/ref/WebApiCSharp.dll
.idea/AOS-WebAPI.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/DnsClient.dll
bin/Debug/net6.0/examples.postman_collection.json
bin/Debug/net6.0/Microsoft.OpenApi.dll
bin/Debug/net6.0/MongoDB.Bson.dll
bin/Debug/net6.0/MongoDB.Driver.Core.dll
bin/Debug/net6.0/MongoDB.Driver.dll
bin/Debug/net6.0/MongoDB.LibMongocrypt.dll
bin/Debug/net6.0/SharpCompress.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net6.0/WebApiCSharp
bin/Debug/net6.0/WebApiCSharp.deps.json
bin/Debug/net6.0/WebApiCSharp.dll
bin/Debug/net6.0/WebApiCSharp.pdb
bin/Debug/net6.0/WebApiCSharp.runtimeconfig.json
bin/Debug/net6.0/docs/version2/AOS.postman_collection.json
bin/Debug/net6.0/docs/version2/File Templates/environment.json
bin/Debug/net6.0/docs/version2/File Templates/SD.json
bin/Debug/net6.0/runtimes/linux/native/libmongocrypt.so
bin/Debug/net6.0/runtimes/osx/native/libmongocrypt.dylib
bin/Debug/net6.0/runtimes/win/native/libzstd.dll
bin/Debug/net6.0/runtimes/win/native/mongocrypt.dll
bin/Debug/net6.0/runtimes/win/native/snappy32.dll
bin/Debug/net6.0/runtimes/win/native/snappy64.dll
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/WebApiCSharp.csproj.nuget.dgspec.json
obj/WebApiCSharp.csproj.nuget.g.props
obj/WebApiCSharp.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/apphost
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/WebApiCSharp.AssemblyInfo.cs
obj/Debug/net6.0/WebApiCSharp.AssemblyInfoInputs.cache
obj/Debug/net6.0/WebApiCSharp.assets.cache
obj/Debug/net6.0/WebApiCSharp.csproj.AssemblyReference.cache
obj/Debug/net6.0/WebApiCSharp.csproj.CopyComplete
obj/Debug/net6.0/WebApiCSharp.csproj.FileListAbsolute.txt
obj/Debug/net6.0/WebApiCSharp.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/WebApiCSharp.dll
obj/Debug/net6.0/WebApiCSharp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/WebApiCSharp.genruntimeconfig.cache
obj/Debug/net6.0/WebApiCSharp.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/WebApiCSharp.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/WebApiCSharp.pdb
obj/Debug/net6.0/ref/WebApiCSharp.dll
obj/Debug/net6.0/refint/WebApiCSharp.dll
obj/WebApiCSharp.csproj.nuget.g.targets
obj/WebApiCSharp.csproj.nuget.g.props
obj/WebApiCSharp.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
