/.vscode
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.pdb
bin/Debug/net5.0/ref/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.pdb
obj/Debug/net5.0/ref/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.pdb
bin/Debug/net5.0/ref/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.pdb
obj/Debug/net5.0/ref/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.pdb
bin/Debug/net5.0/ref/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.dll
obj/Debug/net5.0/WebApiCSharp.pdb
obj/Debug/net5.0/ref/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.dll
bin/Debug/net5.0/WebApiCSharp.pdb
bin/Debug/net5.0/ref/WebApiCSharp.dll
